################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/velora.slnx/FileContentIndex/15f09e00-b129-4826-a521-9c69fd405a0f.vsidx
/.vs/velora.slnx/FileContentIndex/1e1bfd3c-a61b-4e37-8356-013ddd431e78.vsidx
/.vs/velora.slnx/FileContentIndex/281a8a58-e511-4dad-aced-090ccfd238af.vsidx
/.vs/velora.slnx/FileContentIndex/33131005-9e02-4054-b47e-3132434fa767.vsidx
/.vs/velora.slnx/FileContentIndex/4cf4b0f5-355b-470f-b43a-dac6714ff730.vsidx
/.vs/velora.slnx/FileContentIndex/dcc35d84-d1e3-4b4e-b5a7-01b1a8af04ab.vsidx
/.vs/velora.slnx/FileContentIndex/c376a33e-3d61-4214-9792-40a3eed074cc.vsidx
/.vs/velora.slnx/FileContentIndex/05e52707-3f07-47f3-921d-91b9b5c59f28.vsidx
/.vs/velora.slnx/FileContentIndex/44fff71f-084b-4391-bc2e-809875632a1e.vsidx
/.vs/velora.slnx/FileContentIndex/5816ad2f-ad24-4920-b7f2-e4ca6541031d.vsidx
/.vs/velora.slnx/FileContentIndex/bab47e9a-686e-4667-b45b-5295a3623633.vsidx
/.vs/velora.slnx/FileContentIndex/c4af5e2a-e3ce-45de-ae80-2f5987e185fa.vsidx
/.vs/velora.slnx/FileContentIndex/f93547b4-d7ea-406d-ad0f-d55ab79bf2ed.vsidx
/.vs/velora.slnx/FileContentIndex/1c8d61a4-7703-4b10-99ab-282eda0228fe.vsidx
/.vs/velora.slnx/FileContentIndex/
